name: Deploy
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'adoptium'
          java-version: '21'
      - run: ./gradlew shadowJar
      - run: 'curl -X PUT --data-binary @build/libs/AfnwCore2-*-all.jar "https://saba8-deploy.azisaba.dev/deploy?secret={{ secrets.DEPLOYMAN_SECRET_SABA8 }}&token={{ secrets.DEPLOYMAN_TOKEN }}&filename=AfnwCore2.jar"'
